<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schoolplant.mapper.ClazzMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.schoolplant.entity.Clazz">
        <id column="id" property="id" />
        <result column="grade_id" property="gradeId" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

</mapper>
